 body{
     padding: 0;
     margin: 0;
     height: 100vh;
 }

 .bg{
     height: 100vh;
     position: relative;
     background: url(img/bg.png);
     background-size: cover;
     background-repeat: repeat-x;
     animation: back 8s linear infinite;
 }

 .sepeda{
     position: absolute;
     bottom: 0;
 }

 @keyframes back{
     from{
         background-position:0,0 ;
     }to{
         background-position:100%,0 ;
     }
 }